*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #20201E;
}

nav {
  background-color: #30302E;
  color: white;
  padding: 0.7rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #6A6964;
}

.fa-tower-cell {
  display: block;
  font-size: 2rem;
  color: white;
  padding: 0.5rem 2.6rem 0.5rem 0.5rem;
  background: #078AF5;
  line-height: 1;
  border-radius: 0.5rem;
}


.nav-bar-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.nav-bar-links {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  color: #C2C0B6;
}

.nav-bar-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav-bar-btn:hover, .nav-bar-btn:active {
  color: white;
  font-size: 1.1rem;
}

.styled-btn {
  border: 1px solid #6A6964;
  padding: 0.7rem 1.5rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.styled-btn-text {
  background: none;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  margin: 0;
}

.styled-btn:hover {
  background-color: #20201E;
}

.home-section {
  padding: 7rem 0;
  position: relative;
  border-bottom: 1px solid #6A6964;
}

.home-section-tag {
  background: #078AF5;
  font-family: inherit;
  padding: 0.2rem 2rem;
  border-radius: 1rem;
  color: white;
  position: absolute;
  top: 0.8rem;
  left: 3rem;
}

.home-main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 4rem 2rem;
  color: white;
  text-align: center;
  font-size: inherit;
}

.syllabus-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  color: #80AADD;
  border-radius: 1rem;
  background-color: #243E5F;
}

.syllabus-card-text {
  font-size: 0.8rem;
  margin: 0;
}

.home-title {
  font-size: 7rem;
  margin: 0;
}

.home-title-span {
  color: #078AF5;
}

.home-subtitle {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
  color: #C2C0B6;
}

.home-btns {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  align-items: center;
  gap: 2rem;
}

.home-facts {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.home-fact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}


.fact-main-text {
  font-size: 3rem;
  margin: 0;
  color: #078AF5;
}

.fact-sub-text {
  font-size: 1rem;
  margin: 0;
  color: #C2C0B6;
}